body {
	padding-top:40px;
	background:#f3f3f3;
}

#main-block {
	margin:30px 0;
}

#squeakr-box {
	height:60px;
}

#squeaks-list {
	margin-top:10px;
}

#squeaks-list .post {
	padding:0 14px;
}

.post-inner {
	padding:16px 20px;
	background:white;
	margin-bottom:20px;
	box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 2px 3px 0px rgba(0,0,0,0.1);
}

.post span.glyphicon {
	margin-right:10px;
}

.post span.glyphicon.glyphicon-star {
	cursor: pointer;
	transition:all 100ms ease-in;
	margin-left:2px;
}

.post span.glyphicon.glyphicon-star:hover {
	font-size:14px;
}

.post h3 {
	margin-top:10px;
}