{% extends "template.html" %}

{% block navigation %}
<ul class="nav navbar-nav navbar-right">
	<li class="active"><a href="/">Home</a></li>
	<li><a href="/register">Register</a></li>
</ul>
{% endblock %}

{% block content %}

	<div class="container-fluid text-center" id="main-block">
		<h1>Welcome to Squeakr!</h1>
		<p>squeak out your opinion</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-lg-4 col-sm-offset-2 col-lg-offset-4">
				<h3 class="text-center">Please login to continue</h3>
				
				<!-- For message flashing -->
				{% with messages = get_flashed_messages() %}
		  			{% if messages %}
					<div class="alert alert-danger">
						{% for message in messages %}
					      <p>{{ message }}</p>
					    {% endfor %}
				    </div>
				    {% endif %}
				{% endwith %}

				{% if error_msg %}
					<div class="alert alert-danger">{{error_msg}}</div>
				{% endif %}
				{% if success_msg %}
					<div class="alert alert-info">{{success_msg}}</div>
				{% endif %}
				<form action="/login" method="POST" role="form" onsubmit="return verifyLogin()">
					<div class="form-group">
						<input type="text" id="email" name="email" class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="password" id="password" name="password" class="form-control" placeholder="Password">
						<small>Atleast 6 characters</small>
					</div>
					<div class="form-group">
						<input class="btn btn-primary" name="submit" type="submit" value="Login!">
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		function verifyLogin() {
			var email = $('#email').val();
			var password = $('#password').val();

			if (email !== '' && password != '' && password.length >= 6 && email.match(/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/g) !== null)
				return true;
			
			alert("Please fill correctly!");
			return false;
		} 
	</script>

{% endblock %}